<aside>
üí° **Question 1**

Given an integer¬†`n`, return¬†*`true`¬†if it is a power of two. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of two, if there exists an integer¬†`x`¬†such that¬†`n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

</aside>

In [4]:
def check_power_of_2(num):
    while(num>1):
        if num%2 !=0:
            return False
        
        num=num//2
        
    return True

In [5]:
num=1024
check_power_of_2(num)

True

<aside>
üí° **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

</aside>

In [12]:
def sum_of_natural(num):
    if num <=0:
        return None
    else :
        sum1= int((num*(num+1))/2)
    return sum1

In [13]:
sum_of_natural(5)

15

In [ ]:
<aside>
üí° **Question 3**

****Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [1]:
def factorial(n):
    if n<0:
        return None
    elif n==1 & n==0:
        return 1
    else:
        return n*factorial(n-1)

In [2]:
factorial(6)

720

In [ ]:
<aside>
üí° **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [14]:
def raised_power(n,k):
    if k == 0:
        return 1
    else:
        pro =1
        while(k>0):
            pro = pro*n
            k = k-1
    return pro

In [15]:
raised_power(2,5)

32

In [ ]:
<aside>
üí° **Question 5**

Given an array of integers¬†**arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [16]:
def max_ele(lst):
    if len(lst)==1:
        return lst
    max_num = lst[0]
    for num in lst:
        if num > max_num:
            max_num = num
            
    return max_num

In [17]:
lst = [1, 4, 3, -5, -4, 8, 6]
max_ele(lst)

8

In [18]:
lst1=[1, 4, 45, 6, 10, -8]
max_ele(lst1)

45

In [19]:
max([1, 4, 45, 6, 10, -8])

45

In [ ]:
<aside>
üí° **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [25]:
def nth_term(a,d,n):
    if d==0:
        return a
    
    nthterm = a+(n-1)*d
    return nthterm

In [26]:
nth_term(5,2,10)

23

In [ ]:
<aside>
üí° **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = ‚ÄúABC‚Äù*

***Output:***

*‚ÄúABC‚Äù, ‚ÄúACB‚Äù, ‚ÄúBAC‚Äù, ‚ÄúBCA‚Äù, ‚ÄúCBA‚Äù, ‚ÄúCAB‚Äù*

**Example 2:**

***Input:***

*S = ‚ÄúXY‚Äù*

***Output:***

*‚ÄúXY‚Äù, ‚ÄúYX‚Äù*

</aside>

<aside>

In [ ]:
**Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [21]:
def pro_mul(lst):
    mul = 1
    for ele in lst:
        mul *= ele
            
            
    return mul

In [22]:
lst=[1, 2, 3, 4, 5]
pro_mul(lst)

120